<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Design</h3>
</head>
<body>
    <div class="content">
        <h4>Godot</h4>
        <div class="tool">
            <figure>
                <img class="image" src = "/Graphics/Design/godot.png">
                <figcaption>Godot logo</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Lucidchart</h4>
        <div class="tool">
            <figure>
                <img class="image" src = "/Graphics/Design/chart.png">
                <figcaption>An example of a chart you can make using the software</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Microsoft Todo</h4>
        <div class="tool">
            <figure>
                <img class="image" src = "/Graphics/Design/todo.png" style="border-radius: 0%;">
                <figcaption>An example of a todo list you can make using the software.</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Microsoft Whiteboard</h4>
        <div class="tool">
            <figure>
                <img class="image" src = "/Graphics/Design/whiteboard.png" style="border-radius: 0%;">
                <figcaption>An example whiteboard</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>