<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Godot Tools - Design</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Design</h3>
</head>
<body>
    <div class="content">
        <h4>Godot</h4>
        <div class="tool">
            <figure>
                <a href="https://godotengine.org/"><img class="image" src = "/Graphics/Design/godot.png"></a>
                <figcaption>Godot logo</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Lucidchart</h4>
        <div class="tool">
            <figure>
                <a href="https://www.lucidchart.com/pages/landing?utm_source=google&utm_medium=cpc&utm_campaign=_chart_en_us_mixed_search_brand_exact_&km_CPC_CampaignId=1457964857&km_CPC_AdGroupID=57044764032&km_CPC_Keyword=lucidchart&km_CPC_MatchType=e&km_CPC_ExtensionID=&km_CPC_Network=g&km_CPC_AdPosition=&km_CPC_Creative=442433231228&km_CPC_TargetID=kwd-33511936169&km_CPC_Country=9010854&km_CPC_Device=c&km_CPC_placement=&km_CPC_target=&gad_source=1&gclid=CjwKCAiAjp-7BhBZEiwAmh9rBcS3lJFlewLret5nbGSj2XSSGRH5bUQi5X_a491WEdNpa7scLpoM7xoCJCYQAvD_BwE">
                    <img class="image" src = "/Graphics/Design/chart.png">
                </a>
                <figcaption>An example of a chart you can make using the software</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Microsoft Todo</h4>
        <div class="tool">
            <figure>
                <img class="image" src = "/Graphics/Design/todo.png" style="border-radius: 0%;">
                <figcaption>An example of a todo list you can make using the software.</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Microsoft Whiteboard</h4>
        <div class="tool">
            <figure>
                <img class="image" src = "/Graphics/Design/whiteboard.png" style="border-radius: 0%;">
                <figcaption>An example whiteboard</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>