<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Graphics</h3>
</head>
<body>
    <h4>Pixabay</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/pixabay.jpg">
            <figcaption>A photo by Pixabay's PavanPrasad_IND</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Piskel</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/piskel.png">
            <figcaption>A snake I made in Piskel</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Inkscape</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/inkscape.png">
            <figcaption>A showcase of the shapes you can make in Inkscape, and the graphical effects you can apply to them.</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Canva</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/canva.png">
            <figcaption>Canva's logo</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Blenderkit Addon</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/blenderkit.png">
            <figcaption>Blenderkit's logo</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Convert Videos Into the .ogv Format</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/convert.png">
            <figcaption>A file</figcaption>
        </figure>
        <p>
            I like using videos in my Godot games. Unfortunately, right now, Godot only supports the ogv (ogg video) format. I have had a lot of trouble
            getting mp4 videos to play in Godot. I believe that there are some extensions that can help you play the regular file formats, but I have found two websites that 
            can help with getting ogg videos.

            <br>

            First is <a href="https://convertio.co/mp4-ogv/">convertio.co</a>, which I have found to do a good job at converting my mp4s to ogvs. The notable thing about it is that it did not ruin my videos during conversion
            where other websites have. The downside is that there is a file limit if you do not have the paid version.

            <br>

            Aside from that you can use <a href="https://www.freeconvert.com/mp4-to-ogv">freeconvert.com</a> or the a <a href="https://www.videolan.org/vlc/">VLC media player</a>, but these ruined my videos with compression when I tried them.
        </p>
    </div>
    <h4>Make Space Skyboxes</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/space.png">
            <figcaption>An example of a space skybox you can make</figcaption>
        </figure>
        <p>
            Using this tool, <a href="https://tools.wwwtyro.net/space-3d/index.html#animationSpeed=1&fov=80&nebulae=true&pointStars=true&resolution=1024&seed=39kxrejc6ty0&stars=true&sun=true">Space 3D</a>
            from <a href="https://wwwtyro.net/">wwwtyro.net</a> you can make various space skyboxes for your game! In the program, you can 
            alter the FOV and the presence of various objects like the sun and stars. Notably, the website exports cubemaps, so to turn them into panoramas, you will need to see the next tool.
        </p>
    </div>
    <h4>Turn Cubemaps into Panoramas</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/cubemap.png">
            <figcaption>A cubemap that you can turn into a proper panorama using this program</figcaption>
        </figure>
        <p>
            This is a tool that allows you to convert cubemaps, such as the one seen to the left, into proper panoramas. You just upload your files into the website, and the website returns a panorama.
            If you are using this in conjunction with the last tool, then you may find figuring out what files to upload where confusing. Luckily, I have mapped it out.
            <br>
            The skybox generator's "up" and "down" files correspond to the "top" and "bottom" slots respectively. Furthermore, the "back" and "front" files correspond to the "left" and "right" slots.

        </p>
    </div>
    <h4>Optifine Skybox Generator</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/sky.jpg">
            <figcaption>A photo of the sky</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Background Remover</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/background_remove.png">
            <figcaption>A bunny image from GDJ on Pixabay</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
</body>
</html>