<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Graphics</h3>
</head>
<body>
    <h4>Pixabay</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/pixabay.jpg">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Piskel</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/piskel.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Inkscape</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/inkscape.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Canva</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/canva.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Blenderkit Addon</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/blenderkit.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Convert Videos Into the .ogv Format</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/convert.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Make Space Skyboxes</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/space.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Turn Cubemaps into Panoramas</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/space_panorama.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Optifine Skybox Generator</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/sky.jpg">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
    <h4>Background Remover</h4>
    <div class="tool">
        <figure>
            <img class = "image" src="/Graphics/Graphics/background_remove.png">
            <figcaption>TEXT</figcaption>
        </figure>
        <p>TEXT</p>
    </div>
</body>
</html>