<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Godot Tools - Graphics</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Graphics</h3>
</head>
<body>
    <div class="content">
        <h4>Pixabay</h4>
        <img class = "phone-image" src="/Graphics/Graphics/pixabay.jpg">
        <div class="tool">
            <figure>
                <a href="https://pixabay.com/"><img class = "image" src="/Graphics/Graphics/pixabay.jpg"></a>
                <figcaption>A photo by Pixabay's PavanPrasad_IND</figcaption>
            </figure>
            <p>
                On Pixabay, you can find various assets that you can use for your game, including images. You can find textures, photos, backgrounds, etc. I would
                recommend using this in conjunction with the background remover tool (found below). Many of the images on this website were actually found here!
            </p>
        </div>
        <h4>Background Remover</h4>
        <img class = "phone-image" src="/Graphics/Graphics/background_remove.png">
        <div class="tool">
            <figure>
                <a href="https://www.remove.bg/"><img class = "image" src="/Graphics/Graphics/background_remove.png"></a>
                <figcaption>A bunny image from GDJ on Pixabay</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Piskel</h4>
        <img class = "phone-image" src="/Graphics/Graphics/piskel.png">
        <div class="tool">
            <figure>
                <a href="https://www.piskelapp.com/"><img class = "image" src="/Graphics/Graphics/piskel.png"></a>
                <figcaption>A snake I made in Piskel</figcaption>
            </figure>
            <p>
                If you are looking for a free online sprite art editor, Piskel is a good choice. I used this program a lot when I was still making games in Pygame. 
                With this program, you can make pixel art and animations using the tools on the left. I feel that this program has a pretty good user interface, and that it is 
                an accessible and easy to understand program.
            </p>
        </div>
        <h4>Inkscape</h4>
        <img class = "phone-image" src="/Graphics/Graphics/inkscape.png">
        <div class="tool">
            <figure>
                <a href="https://inkscape.org/"><img class = "image title-ima" src="/Graphics/Graphics/inkscape.png"></a>                
                <figcaption>A showcase of the shapes you can make in Inkscape, and the graphical effects you can apply to them.</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Canva</h4>
        <img class = "phone-image" src="/Graphics/Graphics/canva.png">
        <div class="tool">
            <figure>
                <a href="https://www.canva.com/"><img class = "image" src="/Graphics/Graphics/canva.png"></a>
                <figcaption>Canva's logo</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Blenderkit Addon</h4>
        <img class = "phone-image" src="/Graphics/Graphics/blenderkit.png">
        <div class="tool">
            <figure>
                <a href="https://www.blenderkit.com/"><img class = "image" src="/Graphics/Graphics/blenderkit.png"></a>
                <figcaption>Blenderkit's logo</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Convert Videos Into the .ogv Format</h4>
        <img class = "phone-image" src="/Graphics/Graphics/convert.png">
        <div class="tool">
            <figure>
                <img class = "image" src="/Graphics/Graphics/convert.png">
                <figcaption>A file</figcaption>
            </figure>
            <p>
                I like using videos in my Godot games. Unfortunately, right now, Godot only supports the ogv (ogg video) format. I have had a lot of trouble
                getting mp4 videos to play in Godot. I believe that there are some extensions that can help you play the regular file formats, but I have found two websites that 
                can help with getting ogg videos.
    
                <br>
    
                First is <a href="https://convertio.co/mp4-ogv/">convertio.co</a>, which I have found to do a good job at converting my mp4s to ogvs. The notable thing about it is that it did not ruin my videos during conversion
                where other websites have. The downside is that there is a file limit if you do not have the paid version.
    
                <br>
    
                Aside from that you can use <a href="https://www.freeconvert.com/mp4-to-ogv">freeconvert.com</a> or the a <a href="https://www.videolan.org/vlc/">VLC media player</a>, but these ruined my videos with compression when I tried them.
            </p>
        </div>
        <h4>Make Space Skyboxes</h4>
        <img class = "phone-image" src="/Graphics/Graphics/space.png">
        <div class="tool">
            <figure>
                <a href="https://tools.wwwtyro.net/space-3d/index.html#animationSpeed=1&fov=80&nebulae=true&pointStars=true&resolution=1024&seed=6r3hd296oic0&stars=true&sun=true"><img class = "image" src="/Graphics/Graphics/space.png"></a>
                <figcaption>An example of a space skybox you can make</figcaption>
            </figure>
            <p>
                Using the tool, Space 3D from <a href="https://wwwtyro.net/">wwwtyro.net</a> you can make various space skyboxes for your game! In the program, you can 
                alter the FOV and the presence of various objects like the sun and stars. Notably, the website exports cubemaps, so to turn them into panoramas, you will need to see the next tool.
            </p>
        </div>
        <h4>Turn Cubemaps into Panoramas</h4>
        <img class = "phone-image" src="/Graphics/Graphics/cubemap.png">
        <div class="tool">
            <figure>
                <a href="https://danilw.github.io/GLSL-howto/cubemap_to_panorama_js/cubemap_to_panorama.html"><img class = "image" src="/Graphics/Graphics/cubemap.png"></a>
                <figcaption>A cubemap that you can turn into a proper panorama using this program</figcaption>
            </figure>
            <p>
                This is a tool, that allows you to convert cubemaps, such as the one seen to the left, into proper panoramas. You just upload your files into the website, and the website returns a panorama.
                If you are using this in conjunction with the last tool, then you may find figuring out what files to upload where confusing. Luckily, I have mapped it out.
                The skybox generator's "up" and "down" files correspond to the "top" and "bottom" slots respectively. Furthermore, the "back" and "front" files correspond to the "left" and "right" slots.
            </p>
        </div>
        <h4>Optifine Skybox Generator</h4>
        <img class = "phone-image" src="/Graphics/Graphics/sky.jpg">
        <div class="tool">
            <figure>
                <a href="https://skybox-generator.vercel.app/"><img class = "image" src="/Graphics/Graphics/sky.jpg"></a>
                <figcaption>A photo of the sky</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>