<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Godot Tools - Help</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Help</h3>
</head>
<body>
    <div class="content">
        <h4>Godot Forums</h4>
        <div class="tool">
            <figure>
                <a href="https://forum.godotengine.org/"><img class="image" src = "/Graphics/Help/godot.png"></a>
                <figcaption>Godot logo</figcaption>
            </figure>
            <p>
                Whether you are a beginner or are deeper down into the hobby, you may come across issues you simply can't crack. Many years ago I tried learning
                Unity, but was stumped by an issue. I may have gotten farther if I simply asked online. With online forums like the Godot forums, you can get game breaking
                issues you may run into fixed with the help of some very kind people. Overall, I would significanly recommend seeking help on forums like these if you run into any issues.
            </p>
        </div>
        <h4>Godot Documentation</h4>
        <div class="tool">
            <figure>
                <a href="https://docs.godotengine.org/en/stable/"><img src="/Graphics/Help/docs_logo.webp"></a>
                <figcaption>Godot docs logo</figcaption>
            </figure>
            <p>
                If you are ever baffled by a feature of Godot then you can use the documentation to figure things out. The Godot documentation is very helpful for figuring out the purposes 
                of many of Godot's built in systems. It is essential for learning the engine and I would recommend making use of it.
            </p>
        </div>
        <h4>Reddit</h4>
        <div class="tool">
            <figure>
                <a href="https://www.reddit.com/"><img class="image" src = "/Graphics/Help/reddit.png"></a>
                <figcaption>Reddit logo</figcaption>
            </figure>
            <p>
                Reddit works well as an alternative of looking for advice to dedicated online forums. Here you can ask questions about Blender, Godot, etc on all sorts of subreddits.
                You may even get responses back faster than on the Godot forums. I have found the website to be very useful for getting advice on how to fix issues in the past, and I would
                recommend it. You can also find inspiration from other projects, news, etc. 
            </p>
        </div>
        <h4>Youtube</h4>
        <div class="tool">
            <figure>
                <a href="https://www.youtube.com/"><img class="image" src = "/Graphics/Help/youtube.png"></a>
                <figcaption>Youtube logo</figcaption>
            </figure>
            <p>
                One of the most common ways to learn a game engine like Godot is through Youtube tutorials. Whether you are doing such or you just want to learn how to implement
                a specific feature (like a fire effect), Youtube is a great source for learning. I learned the engine through Clear Code's "Ultimate Introduction" to Godot 4. You can also 
                learn how to use other pieces of software such as Blender using this platform. Personally, when learning, I would recommend taking notes physically or digitally in order to help 
                retain information.
            </p>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>