<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Home</h3>

</head>
<body>
    <div class = "content">
        <h4>Welcome to Cool Godot Tools</h4>
        <p>On this website, you can find a compilation of various tools that I have found helpful while developing games with Godot. From royalty free sound effects to flow chart software, here you can find a variety tools to enhance your workflow.
            I made this website to help share things that I find useful as well as to practice building websites. Note that these are tools I found, and that I did not make any of these tools.
    
            <br> For these tools I wanted to focus on free software that does not require downloading any programs. This is not a rule, but you should be able to find more easily accessible software on here.
        </p>
        <h4>Search for Adivce</h4>
        <div class="area">
            <div class="graphics">
                <h4>Graphics</h4>
                <a href="graphics.html">
                    <img class = "image home-image" src="/Graphics/Index/deer.jpg">
                </a>
                <p>If video games are moving pictures, than you want to make sure that those pictures look nice. <br> Look here for sources on how to find or make various graphical elements</p>
            </div>
            <div class="sound">
                <h4>Sound</h4>
                <a href="sound.html">
                    <img class = "image home-image" src="/Graphics/Index/sound.png">
                </a>
                <p>Whenever I make a game, everything feels like it is beginning to take shape when I add sound. However, I don't have the time or resources to make my own high quality sound and music. Fortunately, there are other ways.</p>
            </div>
            <div class="help">
                <h4>Help</h4>
                <a href="help.html">
                    <img class = "image home-image" src="/Graphics/Index/help.jpg">
                </a>
                <p>Are you stuck? Unsure how to implement a feature? Stopped dead in your tracks by a bug? Here you can learn about various places where you may be able to find help.</p>
            </div>
            <div class="design">
                <h4>Design</h4>
                <a href="design.html">
                    <img class = "image home-image" src="/Graphics/Index/plans.jpg">
                </a>
                <p>To make your game technically and artistically coherent, it is important to plan out a design. Here you can find tools to help you with that.</p>
            </div>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>