<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Godot Tools - Sound</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Sound</h3>
</head>
<body>
    <div class="content">
        <h4>Pixabay</h4>
        <div class="tool">
            <figure>
                <a href="https://pixabay.com/sound-effects/search/"><img class="image" src = "/Graphics/Sound/pixabay.png" style="border-radius: 0;"></a>
                <figcaption>Pixabay logo</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Retro Sound Effect Generator</h4>
        <div class="tool">
            <figure>
                <a href="https://sfxr.me/"><img class="image" src = "/Graphics/Sound/jsfxr.png" style="border-radius: 0;"></a>
                <figcaption>Screenshot of the web version of the tool</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
        <h4>Zapsplat</h4>
        <div class="tool">
            <figure>
                <a href="https://www.zapsplat.com/"><img class="image" src = "/Graphics/Sound/zapsplat.png" style="border-radius: 0;"></a>
                <figcaption>Zapsplat logo</figcaption>
            </figure>
            <p>TEXT</p>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>