<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Godot Tools - Sound</title>
    <link rel="stylesheet" href="../Styles/styles.css">

    <div class="dropdown">
        <button class="drop-button">Sections</button>
        <div class="drop-content">
            <a href="index.html">Home</a>
            <a href="graphics.html">Graphics</a>
            <a href="sound.html">Sound</a>
            <a href="help.html">Help</a>
            <a href="design.html">Design</a>
        </div>
    </div>
    <h1>Cool Godot Tools</h1>
    <h2>Phantasmagoric Zenith</h2>
    <h3>Sound</h3>
</head>
<body>
    <div class="content">
        <h4>Pixabay</h4>
        <div class="tool">
            <figure>
                <a href="https://pixabay.com/sound-effects/search/"><img class="image" src = "/Graphics/Sound/pixabay.png" style="border-radius: 0;"></a>
                <figcaption>Pixabay logo</figcaption>
            </figure>
            <p>
                As someone who is not an audio engineer, it can be hard figuring out how to make your own sounds for your games. Usually, it may be a better to get 
                stock sound effects off of the Internet. A site you may find such sound effects on is Pixabay. I have found this site useful for aquiring various sound effects
                for my games. You can find all sorts of sound assets here from hits, beeps, bops, sounds, and music.
            </p>
        </div>
        <h4>Zapsplat</h4>
        <div class="tool">
            <figure>
                <a href="https://www.zapsplat.com/"><img class="image" src = "/Graphics/Sound/zapsplat.png" style="border-radius: 0;"></a>
                <figcaption>Zapsplat logo</figcaption>
            </figure>
            <p>
                Zapsplat is another site you can use to find free sound effects. If Pixabay does not meet your needs then you may want to try this one. On Zapsplat you
                can find royalty free music, effects packs, and various other assets. Overall, this is a very useful resource for meeting your audio needs!
            </p>
        </div>
        <h4>Retro Sound Effect Generator</h4>
        <div class="tool">
            <figure>
                <a href="https://sfxr.me/"><img class="image" src = "/Graphics/Sound/jsfxr.png" style="border-radius: 0;"></a>
                <figcaption>Screenshot of the web version of the tool</figcaption>
            </figure>
            <p>
                This website is a web port of the sfxr sound effect generator by "DrPetter". You can track down the original software or use this website. On the website you can 
                generate all sorts of retro game sound effects. There are all sorts of settings and toggles you can mess around with until you find something satisfactory. I have
                used this website for a very long time, it has been quite helpful.
            </p>
        </div>
    </div>
</body>
<footer>
    <h5>2024-2025 <br> nate.r.laing@gmail.com <br> Youtube - @epichuman3191</h5>
</footer>
</html>